@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 10px auto;
    font-family: "Quicksand";
    color: #333;
    text-align: center;
  }

  .pgTitle{
    font-size: 2rem;
    color: #f1356d;
    border-bottom: 1px solid #f2f2f2;
    max-width: 600px;

  }
  #display{
    max-width: 500px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    /* padding:4rem 0; */
    margin-top: 30px;
    
  }